<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%- hos %></title>
<!--
Holiday Template
http://www.templatemo.com/tm-475-holiday
-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
  <link href="stylesheets/font-awesome.min.css" rel="stylesheet">
  <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="stylesheets/bootstrap-datetimepicker.min.css" rel="stylesheet">  
  <link href="stylesheets/flexslider.css" rel="stylesheet">
  <link href="stylesheets/templatemo-style.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
   </head>
  <body class="tm-gray-bg">
  	<!-- Header -->
  	<div class="tm-header">
  		<div class="container">
  			<div class="row">
  				<div class="col-lg-6 col-md-4 col-sm-3 tm-site-name-container">
  					<a href="#" class="tm-site-name"><%- hos %></a>	
  				</div>
	  			<div class="col-lg-6 col-md-8 col-sm-9">
	  				<div class="mobile-menu-icon">
		              <i class="fa fa-bars"></i>
		            </div>
	  				<nav class="tm-nav" style="margin-left: -100px;">
						<ul>
							<li><a href="home">Home</a></li>
							<li><a href="issues">Issues</a></li>
							<li><a href="contacts" class="active">Contacts</a></li>
							<li><a href="profile">Profile</a></li>
							<li><a href="logout">Logout</a></li>
						</ul>
					</nav>		
	  			</div>				
  			</div>
  		</div>	  	
  	</div>
	
	
	<!-- gray bg -->	
	<section class="container tm-home-section-1" id="more">
		
	
		<div class="section-margin-top about-section" background-color="white">
			<div class="row">				
				<div class="tm-section-header">
					<div class="col-lg-3 col-md-3 col-sm-3"><hr></div>
					<div class="col-lg-6 col-md-6 col-sm-6"><h2 class="tm-section-title">Contact Details</h2></div>
					<div class="col-lg-3 col-md-3 col-sm-3"><hr></div>	
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 xyz">
					<div class="tm-about-box-1">
						<a href="#"><img src="images/userm.png" alt="img" class="tm-about-box-1-img"></a>
						<h3 class="tm-about-box-1-title">XYZ <span>( Superintendant )</span></h3>
						<p class="margin-bottom-15 gray-text">Contact:9897586574</p>
						<div class="gray-text">
							<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 xyz">
					<div class="tm-about-box-1">
						<a href="#"><img src="images/userm.png" alt="img" class="tm-about-box-1-img"></a>
						<h3 class="tm-about-box-1-title">XYZ <span>( Assistant Superintendant )</span></h3>
						<p class="margin-bottom-15 gray-text">Contact:8476567537</p>
						<div class="gray-text">
							<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 xyz">
					<div class="tm-about-box-1">
						<a href="#"><img src="images/userm.png" alt="img" class="tm-about-box-1-img"></a>
						<h3 class="tm-about-box-1-title">XYZ <span>( Assistant Superintendant )</span></h3>
						<p class="margin-bottom-15 gray-text">Contact:9758875645</p>
						<div class="gray-text">
							<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 xyz">
					<div class="tm-about-box-1">
						<a href="#"><img src="images/userm.png" alt="img" class="tm-about-box-1-img"></a>
						<h3 class="tm-about-box-1-title">XYZ <span>( Warden )</span></h3>
						<p class="margin-bottom-15 gray-text"> Contact:9858475746</p>
						<div class="gray-text">
							<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 xyz" style="margin:2%">
					<div class="tm-about-box-1">
						<a href="#"><img src="images/userm.png" alt="img" class="tm-about-box-1-img"></a>
						<h3 class="tm-about-box-1-title">Auto-Rickshaw</h3>
						<p class="margin-bottom-15 gray-text">Contact:9897586574</p>
						<div class="gray-text">
							<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 xyz" style="margin:2%;">
					<div class="tm-about-box-1">
						<a href="#"><img src="images/userm.png" alt="img" class="tm-about-box-1-img"></a>
						<h3 class="tm-about-box-1-title">XYZ <span>( Mess )</span></h3>
						<p class="margin-bottom-15 gray-text">Contact:9897586574</p>
						<div class="gray-text">
							<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 xyz" style="margin:2%;">
					<div class="tm-about-box-1">
						<a href="#"><img src="images/userm.png" alt="img" class="tm-about-box-1-img"></a>
						<h3 class="tm-about-box-1-title">Plumber</h3>
						<p class="margin-bottom-15 gray-text">Contact:9897586574</p>
						<div class="gray-text">
							<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 xyz" style="margin:2%;">
					<div class="tm-about-box-1">
						<a href="#"><img src="images/userm.png" alt="img" class="tm-about-box-1-img"></a>
						<h3 class="tm-about-box-1-title">Electrician</h3>
						<p class="margin-bottom-15 gray-text">Contact:9897586574</p>
						<div class="gray-text">
							<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
							<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
						</div>
					</div>
				</div>
			</div>		
		</div>
	</section>		
	
	<!-- white bg -->
	
	<footer class="tm-black-bg">
		<div class="container">
			<div class="row">
				<p class="tm-copyright-text">Copyright &copy; 2018 Anonymous</p>
			</div>
		</div>		
	</footer>
	<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>      		<!-- jQuery -->
  	<script type="text/javascript" src="js/bootstrap.min.js"></script>					<!-- bootstrap js -->
  	<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>			<!-- flexslider js -->
  	<script type="text/javascript" src="js/templatemo-script.js"></script>      		<!-- Templatemo Script -->
	<script>
		$(function() {

			// https://css-tricks.com/snippets/jquery/smooth-scrolling/
		  	$('a[href*=#]:not([href=#])').click(function() {
			    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
			      var target = $(this.hash);
			      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
			      if (target.length) {
			        $('html,body').animate({
			          scrollTop: target.offset().top
			        }, 1000);
			        return false;
			      }
			    }
		  	});		  	
		});
		$(window).load(function(){
			// Flexsliders
		  	$('.flexslider.flexslider-banner').flexslider({
			    controlNav: false
		    });
		  	$('.flexslider').flexslider({
		    	animation: "slide",
		    	directionNav: false,
		    	slideshow: false
		  	});
		});
	</script>
	<style type="text/css">
		.xyz
		{
			padding-left: 90px;
			margin: 20px;
		}
	</style>

 </body>
 </html>
