<!DOCTYPE html>
<html>
<head>
	<title>Login/Signup</title>
</head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="stylesheets/logsign.css">
<script type="text/javascript" src="javascripts/logsign.js"></script>
<script type="text/javascript">
  <%- msg %>
</script>
<body>
	<div class="cotn_principal">
<div class="cont_centrar">

  <div class="cont_login">
<div class="cont_info_log_sign_up">
      <div class="col_md_login">
<div class="cont_ba_opcitiy">
        
        <h2>LOGIN</h2>
  <p></p> 
  <button class="btn_login" onclick="cambiar_login()">LOGIN</button>
  </div>
  </div>
<div class="col_md_sign_up">
<div class="cont_ba_opcitiy">
  <h2>SIGN UP</h2>

  
  <p></p>

  <button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>
</div>
  </div>
       </div>

    
    <div class="cont_back_info">
       <div class="cont_img_back_grey">
       <img src="https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=7686972873678f32efaf2cd79671673d" alt="" />
       </div>
       
    </div>
<div class="cont_forms" >
    <div class="cont_img_back_">
       <img src="https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=7686972873678f32efaf2cd79671673d" alt="" />
       </div>
  <form action="/login" method="POST">
    <div class="cont_form_login">
      <a href="#" onclick="ocultar_login_sign_up()" ><i class="material-icons" style="color: white;">arrow_back</i></a>
      <h2>LOGIN</h2>
      <input type="text" name="logid" placeholder="Regd No" required />
      <input type="password" name="logpass" placeholder="Password" required />
      <input type="submit" class="btn_login" onclick="cambiar_login()" value="LOGIN" />
    </div>
  </form>
  <form action="/signup" method="POST">
    <div class="cont_form_sign_up">
      <a href="#" onclick="ocultar_login_sign_up()"><i class="material-icons" style="color: white;">arrow_back</i></a>
      <h2>SIGN UP</h2>
      <input type="text" name="name" placeholder="Name" required/>
      <input type="text" name="email" placeholder="Email" required />
      <input type="text" name="phone" placeholder="Phone" required/>
      <input type="text" name="regno" placeholder="Regd No" required/>
      <input type="password" name="password" placeholder="Password" required/>
      <label style="color: black"> <b>Gender</b> </label>
      <select name="gender" required>
        <option>Male</option>
        <option>Female</option>
        <option>Others</option>
      </select>
      <input type="submit" class="btn_sign_up" onclick="cambiar_sign_up()" value="SIGN UP" />
    </div>
  </form>
    </div>

  </div>
 </div>
</div>

</body>
</html>
